<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>卖铺宝</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx7fe223bf9f6e4829</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>使用您的音乐视频功能提升体验</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>访问蓝牙</string>
	<key>NSCalendarsUsageDescription</key>
	<string>访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>访问相机拍照和扫描二维码</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>我们需要获取您的位置信息来确定您所在的城市，以便为您提供准确的账号登录服务以及获取更精准的服务信息。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>访问麦克风录制语音</string>
	<key>NSMotionUsageDescription</key>
	<string>使用您的健康和运动功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>访问相册上传图片</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>语音识别</string>
	<key>NSThreadsleepForTimeInterval</key>
	<string>5</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageName</key>
			<string>Default-568</string>
			<key>UILaunchImageSize</key>
			<string>{320,568}</string>
		</dict>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>使用您的音乐播放器播放音乐</string>
</dict>
</plist>
